<div>
    <ul *ngFor="let user of users" style="display: inline">
      <li><span (click)='showUserProfile(user.id, "user")' style="cursor: pointer;">{{user.name | uppercase}}</span></li>
    </ul>
</div>

<div *ngIf="usersDetails">
  <p>
    <span>
      <img style="width:200px;height:200px; " src="{{userProfile.profilePic}}" />
      <p>{{userProfile.name}}</p>
      <p style="display: block">Email: {{userProfile.email}}</p> 
      <p><strong>Friends:</strong></p> 
      <ul *ngFor="let friend of userProfile.friends"> 
        <li><span (click)='showUserProfile(friend.id, "friend")'>{{friend.name}}</span></li>
      </ul> 
    </span>
  </p>
  <div>
      <p><strong>Suggestions:</strong></p>
      <ul *ngFor="let suggestion of dataSuggest; let i = index;"  style="display: inline">
        <li >{{suggestion.name}} <span style="margin:7px;"><Button (click) ='addFriend(suggestion, i)'
          style="border: 0;
          padding: 0.3em 1.2em;
          background: #A5F883;
          color: #003A61;
          cursor: pointer;">{{buttonLabel}}</Button></span></li>
      </ul>
  </div>
</div>

